name: Build - Mac

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-macos-debug:
    runs-on: macos-latest
    steps:
      - name: Github checkout
        uses: actions/checkout@v5

      - name: Declare some variables
        run: |
          echo "sha_short=$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_ENV"
        shell: bash

      - name: Use Node.js 22.21.1
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.22.0

      - run: pnpm install

      - name: Build Comfy
        uses: ./.github/actions/build/macos/comfy
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN_FOR_GITHUB }}

      - name: Make app
        env:
          PUBLISH: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm run make

      - name: Upload Build
        uses: actions/upload-artifact@v5
        with:
          name: comfyui-electron-debug-macos-${{ env.sha_short }}
          path: |
            dist/*.zip
